<%#<p class="message"><%= flash[:notice] %><%#</p>%>
<p><span>Title:</span>
<span><%=@book.title %></span></p>
<p><span>Body:</span>
<span><%=@book.body %></span></p>
<span class="link"><%= link_to "edit",edit_book_path(@book.id) %></span>
<span class="link_to"><%= link_to "back",books_path %></span>
